.header{
    height: 64px;
    background-color: #F5F6FA;
    display: flex;
    justify-content: space-between;
    padding-left: 186px;
    padding-right: 30px;
}

.header h2{
    margin-right: 14px;
    font-size: 24px;
}

.header__conpany-info{
    display: flex;
    align-items: center;
    position: relative;
}

.header__conpany-info::before{
    content: '';
    position: absolute;
    left: -32px;
    width: 1px;
    height: 51px;
    background-color: #C4C4C4;
}

.header__conpany-inf{
    display: flex;
    align-items: center;
}

.conpany-info__text{
    font-size: 12px;
}

.conpany-info__logo{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 9px;
    background-image: url('../img/logo-company.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

