.right-menu{
    position: absolute;
    top: 0px;
    width: 170px;
    height: 100vh;
    background-color: #F5F6FA;
}

.page-button{
    box-sizing: border-box;
    width: 150px;
    height: 48px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    position: relative;
}

.page-button:hover{
    cursor: pointer;
}

.page-button_active{
    background-color: #DCECD8;
}

.page-button_active::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 6px;
    height: 100%;
    background-color: #72BF44;
    border-radius: 2px 2px 0 0;
}

.page-icon{
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-orders{
    background-image: url('../img/home-icon.png');
}

.icon-profile{
    background-image: url('../img/profile-icon.png');
}

.page-title{
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    padding-left: 10px;
}

.page-contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    padding: 10px 9px 27px 15px;
}